.accordion-button::after {
  margin-left: 1rem !important;
  flex-shrink: 0 !important;
}

.accordion-button {
  display: flex !important;
  align-items: center !important;
}

.trash-icon {
  cursor: pointer;
  color: black;
}

.trash-icon:hover {
  color: #ff7900 !important;
}